---
import fs from 'fs';
import path from 'path';
import { getCollection, getEntry } from 'astro:content';
const allDocPosts = await getCollection('is5_stage_guides');
console.log(allDocPosts[0].data);
const ex_post = await getEntry('is5_stage_guides',"aerial-assault");
console.log(ex_post);
---

<ul>
  {allDocPosts.map(post => (
    <li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
  ))}
</ul>

<html>
  <div>
    abcd
    {allDocPosts.slice(0, 4).map((post) => (
      <ul>
        <h2>{post.data.title}</h2>
        <p>{post.data.description.length}</p>
        <h2>{post.data}</h2>
        <h2>{post.id}</h2>
        <h2>is written:{post.body.includes("Strategy")?"a":"b"} </h2>
      </ul>
    ))}
  </div>
  <head>
    <title>Directory Files</title>
  </head>
  <h1>Current url is {Astro.url}
  <body>
  </body>
</html>